{{#if cafes.length}}
<div class="row">

  {{#each cafes}}
  <div class="col-sm-3" style="margin: 20px;">
    <div class="card "style=" width: 18rem;">
      <img src="/images/{{img}}" class="card-img-top" alt="{{name}}" />
      <div class="card-body">
        <h5 class="card-title"><a href="/admin/cafes/{{id}}">{{name}}</a></h5>
      </div>
      <div class="card-body">
        <a href="/admin/cafes/edit/{{id}}" class="card-link">Edit</a>
        <a href="/admin/cafes/delete/{{id}}" class="card-link">Delete</a>
      </div>
    </div>
  </div>
  {{/each}}
  
</div>
{{else}}
<h2>Cafes is empty</h2>
{{/if}}