<div class="card card-primary card-outline">
    <div class="card-body box-profile ">
        <div class="row justify-content-between"><div class="col-7">
            <div class="text-center">
                <img class="profile-user-img img-fluid img-circle" src="/images/{{admin.avatar}}"
                    alt="User profile picture" style="width: 500px !important;">
            </div>
        </div>
        <div class="col-5 d-flex align-items-center justify-content-center">
            <div class="text-center w-100">
                <h1 class=" text-center">{{admin.name}}</h1>
                <h5 class="text-center">Admin</h5>
                <div class="d-flex justify-content-between mt-8">
                <a href="tel:+{{admin.phone}}"><img src="https://w7.pngwing.com/pngs/160/27/png-transparent-gray-telephone-logo-computer-icons-logo-telephone-miscellaneous-text-monochrome.png" width="100px" alt=""></a>
                <a href="https://t.me/{{admin.telegram}}"><img src="https://otvet.imgsmail.ru/download/70344285_9ea92c07d4e43c88b8d46e959462a372.png" width="100px" alt=""></a>
                <a href="https://www.instagram.com/{{admin.instagram}}"><img src="https://static.tildacdn.com/tild6633-3333-4535-a463-313561623835/Instagram.jpg" width="100px" alt=""></a></div>
            </div>
        </div></div>
        <a href="/admin" class="btn btn-primary btn-block mt-3"><b>Home</b></a>
    </div>
    <!-- /.card-body -->
</div>